:root {
    --color: rgb(44, 128, 44);
    --seccolor: rgb(169, 191, 169);
}

body {
    background-color: var(--seccolor);
}

* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: var(--color);
    color: white;
    border: 1px solid var(--color);
    font-family: "Segoe UI";
    height: 40px;
}

.nav ul {
    display: flex;
    justify-content: start;
    gap: 40px;
    align-items: start;
}

.nav ul li {
    list-style-type: none;
    font-size: 1.5em;
}
.nav ul li a{
    color: white;
    text-decoration: none;
} 
.contact-content {
    margin: 40px 50px;
    color: #333;
    font-size: 30px;
    font-weight: 100;
}

.section-title {
    margin: 40px 50px 10px 50px;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

.contact-button {
    display: inline-block;
    background: linear-gradient(to right,green,lightgreen);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.contact-button:hover {
    background: green;
}

footer {
    background-color: #505050;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    margin-left: 15px;
}

.accent {
    color: lightgreen;
}
.details{
    display: flex;
    justify-content: space-around;
}
.floating{
    border: 1px solid rgb(150 142 47);
    margin-left: 151.5px;
    height: 57px;
    background-color:rgb(150 142 47);
    p:hover{
        color: black;
    }
    overflow: hidden;
}
   
.news{
    color:white;
    font-size: 20px;
    animation-play-state: running;
    animation: tranding 20s linear infinite reverse;
}
@keyframes tranding{
    from{
        transform: translateX(-1445px);
    }
    to{
       transform: translateX(1445px); 
    }
}

.profile{
    object-fit: cover;
    border: 1px solid rgb(150 142 47);
    border-radius: 100px;
    width: 37px;
    height: 37px;
    position: absolute;
    right: 10px;
    img:hover{
        
    }
}